html {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  position: absolute;
  background: #a1dd70;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -180px;
}

h1 {
  padding: 0 55px 30px 0;
  display: block;
  font-family: Trebuchet MS;
  color: #fdfff0;
  text-transform: uppercase;
  text-align: center;
}

.margin {
  margin: 0 15%;
}

*:focus {
  outline: none;
}

.inputGroup {
  position: relative;
  margin-bottom: 30px;
}

.inputGroup label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: Trebuchet MS;
  color: #fdfff0;
  font-weight: 500;
  text-transform: uppercase;
}

.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1.25px solid #fdfff0;
  left: 25px;
  padding: 5px;
  font-family: Trebuchet MS;
  background: none;
  color: #a23131;
  font-size: 15px;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -20px;
  transition: all 0.4s ease;
  font-size: 16px;
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
  width: 50%;
}

.inputGroup textarea {
  height: 100px;
  width: 280px;
  overflow: auto;
  resize: none;
}

.inputGroup .inputBar {
  position: relative;
  display: block;
  width: 290px;
}

.inputGroup .inputBar:before,
.inputGroup .inputBar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  background: #fdfff0;
  height: 2px;
  transition: all 0.2s ease;
}

.inputGroup .inputBar:after {
  right: 50%;
}

.inputGroup .inputBar:before {
  left: 50%;
}

button {
  background-color: #fdfff0;
  border: none;
  padding: 15px 0;
  margin: 0;
  width: 290px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-family: Trebuchet MS;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 6px #a1a1a1;
  position: relative;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px #a1a1a1;
  top: 2px;
}

button:active {
  top: 6px;
  box-shadow: 0 0;
}

header, footer {
  background-color: #a1dd70;
  font-family: 'Robot', sans-serif;
  font-weight: 700;
  font-size: 22px;
  display: block;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: inline-block;
  margin-left: 30px;
  padding: 15px;
  position: relative;
  color: #fdfff0;
  border-top: #a1dd70 solid;
  border-bottom: #a1dd70 solid;
}

.header:hover {
  color: #000;
  border-bottom: #000 solid;
}
.footer:hover {
    color: #000;
    border-top: #000 solid;
}

nav li {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
