body {
  background-color: #fdfff0;
  margin: 0 auto;

}

.container, h1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.img-rounded{
  width: auto ;
  height: auto ;
  border-radius:50%;
}
main {
    border-radius: 0pt 0pt 10pt 10pt;
    padding: 20pt 40pt 20pt 40pt;
    max-width: 670px;
    min-height: 53px;
    margin: auto;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: #5c8d89;
}

.logo {
  width: 30px;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #a1dd70;
  border-width: 6px;
  width: 15%;
  clear: both;
  margin-bottom: 25px;
  margin-top: 25px;
}

header, footer {
  background-color: #a1dd70;
  font-family: 'Robot', sans-serif;
  font-weight: 700;
  font-size: 22px;
  display: block;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: inline-block;
  margin-left: 30px;
  padding: 15px;
  position: relative;
  color: #fdfff0;
  border-top: #a1dd70 solid;
  border-bottom: #a1dd70 solid;
}

.header:hover {
  color: #000;
  border-bottom: #000 solid;
}
.footer:hover {
    color: #000;
    border-top: #000 solid;
}

nav li {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
}
b {
    font-size: 16px;
}

.page-text-image img, .page-text-image-right img {width:100%;  margin-left: auto; margin-right: auto; margin-bottom: 5px; display:block; border-radius: 50%; max-width: 230px; max-height: 230px;}

@media only screen and (min-width: 707px) {
.page-text-image {width:50%; float:left;}
.page-text-message {width:50%; float:right;}
.page-text-image-right {width:50%; float:right;}
.page-text-message-right {width:50%; float:left;}
}
@media only screen and (max-width: 588px) {
  nav a {display: block; padding: 4px; text-align: center; margin: auto;}
  .header:hover {color: #black;  border-top: #a1dd70 solid; border-bottom: #a1dd70 solid;}
}
